<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table width="600" border="0px" align="center" cellpadding="0" cellspacing="0" bgcolor="#fff" style="text-align:left;border:solid 1px #dddddd;">
	<tbody>
		<tr>
			<td align="left" valign="middle" style="border-bottom: 1px solid #eeeeee;">
				<img src="https://demo-nexevo.in/yasar/logo.png" width="50%">
			</td>
		</tr>
		<tr>
			<td>
				<table width="600" border="0" cellspacing="0" cellpadding="0" style="padding:0px 10px 10px 10px;">
					<tbody>
						<tr>
							<td style="padding-bottom: 20px;padding-top: 15px;" align="center">
								<font face="sans-serif" color="#262626" size="5px">
									<strong>Jobs that match with your Skills</strong>
								</font>
							</td>
						</tr>
						<tr>
							<td style="font-size:13px;line-height:17px;padding-bottom: 8px;">
								<font face="sans-serif" color="#262626">
									<strong>Hi {{name}},</strong>
								</font>
							</td>
						</tr>    
						<tr>
							<td height="15"></td>
						</tr>
						<tr>
							<td style="font-size:13px;">
								<font face="sans-serif" color="#262626">We've got new job recommendations for you.</font>
							</td>
						</tr>
						<tr>
							<td height="15"></td>
						</tr>
						<tr>
							<td style="font-size:14px;padding: 10px 10px 20px 10px;border: solid #e3e3e3;border-radius: 10px;line-height: 1.5;">
								<table width="100%;" style="font-family:Arial,Helvetica,sans-serif;font-size:13px;border-collapse: collapse;" >
									<tbody>
                                        {{#each jobs}}
                                       
                                      
										<tr style="border-bottom: solid 1px #e3e3e3;">
											<td width="15%">
												<a href="{{feUrl}}/company/{{slug}}">
													<img src="https://d2sv1zkyiqv9y5.cloudfront.net/{{this.profilePic}}" style="width:50px;height:50px;border-radius:50%;">
												</a>
											</td>
											<td width="70%" style="padding-bottom: 15px;">
												<p style="margin-bottom:5px;"><strong>{{this.jobTitle}}</strong></p>
												{{this.companyName}} </br>{{this.country}}
											</td>
											<td width="15%">
												<a href="{{this.feUrl}}/job/{{this.jobSlug}}">View Detail</a>
											</td>
										</tr>
										<tr><td height="15"></td></tr>
										
										  {{/each}}
									</tbody>
								</table>
								<table align="center">
									<tbody>
										<tr>
											<td><a href="https://www.nexdro.com/apply-job" style="background:#4ffea3;padding:7px 20px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#000;text-decoration:none;" target="_blank"><strong>View More</strong></a></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						
						<tr>
							<td height="15"></td>
						</tr>
						<tr style="font-family:Arial,Helvetica,sans-serif;font-size:13px;">
							<td>
								<p><strong>Tips to Get Hired Quickly</strong>:</p>Keep your profile upto date. </br>Share your extraordinary portfolios on our portal.</br>Update your skills and industries experience from your dashboard</br> Be active in our <a href="https://www.nexdro.com/apply-job">Apply Job</a> and apply the jobs that match with your skills</br>Keep read articles which is posted on News & Blogs.
							</td>
						</tr>
						<tr>
							<td height="17"></td>
						</tr>
						<tr>
							<td style="line-height:17px;text-align:justify;font-size:13px">
							<font face="sans-serif" color="#262626">
								Regards<br>
								<strong>
								<span style="color:#000">Nexdro Team</span>
								</strong> 
							</font>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td height="15"></td>
		</tr>
		<tr>
			<td height="30" align="center">
				<font face="sans-serif" color="#888888" size="1.5">This is a System generated automated email, please do not reply to this message</font>
			</td>
		</tr>
		<tr>
			<td align="center">
				<font face="sans-serif" color="#888888" size="1.5"><a href="https://www.nexdro.com">www.nexdro.com</a></font>
			</td>
		</tr>
		<tr>
			<td height="15"></td>
		</tr>
	</tbody>
</table>
</body>
</html>