<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table width="600" border="0px" align="center" cellpadding="0" cellspacing="0" bgcolor="#fff" style="text-align:left;border:solid 1px #dddddd;">
	<tbody>
		<tr>
			<td align="left" valign="middle" style="border-bottom: 1px solid #eeeeee;">
				<img src="https://demo-nexevo.in/yasar/logo.png" width="50%">
			</td>
		</tr>
		<tr>
			<td>
				<table width="600" border="0" cellspacing="0" cellpadding="0" style="padding:0px 10px 10px 10px;">
					<tbody>
						<tr>
							<td style="padding-bottom: 20px;padding-top: 15px;" align="center">
								<font face="sans-serif" color="#262626" size="5px">
									<strong>Success! Account Profile setup completed</strong>
								</font>
							</td>
						</tr>
						<tr>
							<td style="font-size:13px;line-height:17px;padding-bottom: 8px;">
								<font face="sans-serif" color="#262626">
									<strong>Dear {{name}},</strong>
								</font>
							</td>
						</tr>
						      
						<tr>
							<td height="15"></td>
						</tr>
						<tr> 
							<td><font face="Arial" style="font-size:13px;margin-bottom:10px;">You have successfully completed the profile completion process with Nexdro - World's #1 Drone Pilots Network, We have created your profile URL and it will be discovered by our Global users.</font></td>
						</tr>
						<tr>
							<td height="5"></td>
						</tr>
						
						<tr>
							<td height="15"></td>
						</tr>
						<tr>
							<td><font face="sans-serif" style="font-size:13px;">Profile URL: {{feUrl}}/pilot/{{userName}}</font></td>
						</tr>
						<tr>
							<td height="15"></td>
						</tr>
						
						<tr>
							<td style="font-size:14px;background-color:#f0eeee;padding: 10px 10px 20px 10px;border: solid #e3e3e3;border-radius: 10px;line-height: 1.5;">
								<table width="100%;" style="font-family:Arial,Helvetica,sans-serif;font-size:13px">
									<tbody>
										<tr>
											<td width="60px">
												<a href="{{feUrl}}/pilot/{{userName}}">
													<img src="https://d2sv1zkyiqv9y5.cloudfront.net/{{profilePic}}" style="width:50px;height:50px;border-radius:50%;">
												</a>
											</td>
											<td>
												{{name}} <br />{{city}}
											</td>
											<td>
												<a href="{{feUrl}}/pilot/{{userName}}">View Profile</a>
											</td>
										</tr>
									</tbody>
								</table>
								<font face="sans-serif" color="#262626">
									<p>It's time to Showcase your creatives to the world and discover Job Opportunities. Let's do it now.</p>
								</font>
								<table width="" style="font-family:Arial,Helvetica,sans-serif;font-size:13px">
									<tbody>
										<tr>
											<td>
												<a href="{{feUrl}}/upload-files" style="background:#4ffea3;padding:7px 20px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#000;text-decoration:none;" target="_blank"><strong>Add Shots</strong></a>
											</td>
											<td>
											</td>
											<td>
												<a href="{{feUrl}}/apply-job" style="background:#4ffea3;padding:7px 20px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#000;text-decoration:none;" target="_blank"><strong>Apply Jobs</strong></a>
											</td>
										</tr>
									</tbody>
								</table>
								
							</td>
						</tr>
						<tr>
							<td height="15"></td>
						</tr>
						<tr style="font-family:Arial,Helvetica,sans-serif;font-size:13px;">
							<td>
								<p><strong>What's New</strong>:</p>Showcase your creative to the world. <br>Create Job Opportunities Globally.<br>Apply to Jobs<br> Direct Chat with Employer<br>Get Hired.
							</td>
						</tr>
						<tr>
							<td height="20"></td>
						</tr>
						<tr>
							<td style="line-height:17px;text-align:justify;font-size:13px">
							<font face="sans-serif" color="#262626">
								Regards<br>
								<strong>
								<span style="color:#000">Nexdro Team</span>
								</strong> 
							</font>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td height="15"></td>
		</tr>
		<tr>
			<td height="30" align="center">
				<font face="sans-serif" color="#888888" size="1.5">This is a System generated automated email, please do not reply to this message</font>
			</td>
		</tr>
		<tr>
			<td align="center">
				<font face="sans-serif" color="#888888" size="1.5"><a href="https://www.nexdro.com">www.nexdro.com</a></font>
			</td>
		</tr>
		<tr>
			<td height="15"></td>
		</tr>
	</tbody>
</table>
</body>
</html>